body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h1{
    font-size: 36px;
}

#quizContainer, #scoreContainer {  
    background-color: #ebffeb;
    border: groove 2px #2aa813;
    width: 50%;  
    margin: 20px;
    padding: 20px;  
    border-radius: 8px;
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    background-color: bisque;
    border-radius: 3px;
}

button:hover{
    background-color: #2aa813;
}

#introParagraph, #questionContainer, #optionsContainer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 10px;
}